body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}


#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}


.productos-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.productos-card:hover {
  transform: scale(1.05);
}

.productos-card h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.productos-card p {
  color: #666;
  font-size: 1em;
  margin-bottom: 15px;
}

.productos-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.productos-card button:hover {
  background-color: #45a049;
}


.productos-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}